.component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4px;
  padding: 12px;
  cursor: pointer;
  background: #dfdfdf;
  border-bottom: #c0c0c0;
}

.component:hover {
  background: #efefef;
}

.label {
  margin-right: 10px;
}
