.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 4px;
  padding: 12px;
  background: #dfdfdf;
  border-bottom: #c0c0c0;
}

.component:hover {
  background: #efefef;
}

.link {
  color: #000;
  font-size: 16px;
}

.link:hover {
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.state {
  margin: 8px 0 0;
}
